*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: monospace, sans-serif;
  font-size: normal;
}

.title {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.9);
  font-size: 4rem;
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, cyan, #00ffcc);
}
.calculater {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculater > button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid white;
}
.calculater > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.two-span {
  grid-column: span 2;
}
.Display {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.Display .previous-operand {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
}
.Display .current-operand {
  font-size: 2.5rem;
  color: white;
}
.footer {
  background-color: teal;
  color: black;
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
}
